<%- include("template/cabecera.ejs", {tituloWeb: 'Panel de Administración'}) %>

    <div class="container">
        pokemon <!--Será el listado de pokemon-->
    </div>
    

<%- include("template/footer.ejs") %>